<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/vision/">Vision</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/experience-principles/">Experience principles</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/ui-principles/">UI principles</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/ui-pattern-library/">UI pattern library</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/research/">Research</a>
    </nav>
  </div>
</div>
