<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2016/12/01/vision/">Vision</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2016/12/01/experience-principles/">Experience principles</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2016/12/01/ui-principles/">UI principles</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2016/12/01/ui-pattern-library/">UI pattern library</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2016/12/01/research/">Research</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
